
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #fde8f2, #fff6fb);
  color: #1E1E1E;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  background-color: #e51e6d;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
  box-shadow: 0 4px 15px rgba(241, 52, 105, 0.4);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(241, 52, 105, 0.4);
}

.btn-outline {
  background-color: transparent;
  color:  #e51e6d;;
  border: 2px solid  #e51e6d;;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 4px;
  background-color: #fe73ab;
  border-radius: 2px;
}

.subtitle {
  color: #5A5A5A;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}
